body {  
    background-image: url("../images/Background.png");
    overflow-y: scroll;
    background-repeat: repeat;
    background-size: 100%;
}
#currentWeather {
    padding: 100px;
    border-radius: 15px;
}